
//couleur 
$primary_color: #9356dc;
$second_color: #ff79da;
$tertiary_color: #99E2D0;
$footer-color: rgb(63, 63, 63);
$btn-color:  linear-gradient($second_color, $primary_color );
$btn-color-lighten: linear-gradient(lighten($second_color,10%), lighten($primary_color,10%) );


@mixin box-shadow ($val: 30px, $color: rgba(0, 0, 0, 0.2)) {
    box-shadow: 0px 1px $val 1px $color;
}

/**
 * Animation pour l'apparition des menus
 *
 */
$num-item: 10;
$anim-dur-item: 1500ms;
$anim-delay-item: $anim-dur-item / $num-item;
@keyframes animation-menu-item {
    from {
        opacity: 0;
        transform: translateY(20px);
        
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/**
 * Réduit la div des menu pour laisser
 * apparaitre l'animation de l'ajout du plat au panier
 */
@keyframes width-item-show {
    0% {
        width: 95%;
        
    }

    30%{
        width: 80%;
        
    }

    70%{
        width: 80%;
    }


    100%{
        width: 95%;
    }
    
}

/**
 * Animation qui déplace la div d'ajout au panier
 * 
 */
@keyframes check-valid-move {
    0% {
        right: -50px;
        
    }

    30%{
        right: 0px;
        
    }

    70%{
        right: 0px;
    }


    100%{
        right: -50px;
    }
    
}

/**
 * Animation du loader
 *
 */

$size: 3vh;
$num-bars: 8;
$anim-dur: 2000ms;
$anim-delay: ($anim-dur/2) / $num-bars;
@keyframes loader-bars {
    0% {
        transform: scaleY(0.12) ;
        background-color: $tertiary_color;
        
    }
    30%{
        
    }
    45%{
        background-color: $second_color;
        
    }
    50% {
        transform: scaleY(0.9) ;
        
    }
    65%{
        background-color: $primary_color;
        
    }
    90%{
        background-color: $tertiary_color;
    }
    100% {
        transform: scaleY(0.12) ;
       
    }
}


/**
 * Fait disparaitre la div du loader
 *
 */
 
// Delay avant la disparition du loader
$loader-anim-delay :$anim-dur*3;
@keyframes display-loader {
    0%{
        opacity: 1;
        
    }
    99%{
        opacity: 0;
       
    }
    100%{
        
        transform: scaleY(0);
    }
}


html{
    font-family: 'Roboto', sans-serif;
    header{
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }
    body{
        margin: 0;
        padding: 0;
        
    }
    footer{
        display: flex;
        flex-direction: column;
        padding: 2em;
        & a {
            text-decoration: none;
            color: white;
        }
    }
}

h1{
    font-family: 'Shrikhand', cursive !important;
}

main{
    flex: 1;
}


.header {

    &__img{
        flex: 1;
        justify-content: center;
        display: flex;
        padding: 10px;
       @include box-shadow;
        z-index: 100;
        position: fixed;
        width: 100%;
        background-color: white;
        .logo-app{
            width: 50%;
        }
        

    }

    &__location{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(233, 233, 233);
    }

    &__show-resto{
        display: flex;
        flex-direction: column;
    }
    &__input{
        border: none;
        height: 40px;
        width: 11em;
        background-color: rgb(233, 233, 233);
        font-size: 15px;
    }
    &__img-resto{
        z-index: -5;
        padding-top: 50px;
    }
    &__icon{
        position: absolute;
        left: 15px;
        top: 17px;
        color: black;
    }

}

.no-fixe{
    position: relative!important;
    overflow-x: hidden;
}

.home{
    background-color: rgb(243, 243, 243);
    &__title{
        margin-left: 4em;
        margin-right: 4em;
        text-align: center;
        margin-top: 1.5em;
    }
    &__para{
        margin-left: 3em;
        margin-right: 3em;
        text-align: center;
    }
    &__resto{
        margin: 1em;
        margin-bottom: 4em;
        text-align: center;
    }
}

.button-resto{
    padding: 1em;
    background-color: lightgray;
}

.btn{
    color: white;
    background: $btn-color;
    text-decoration: none;
    padding: 1em;
    border-radius: 80em;
    @include box-shadow($val: 5px);
    border: none;
    &:active, &:hover{
        background: $btn-color-lighten;
    }
}

.order{
    display: flex;
    justify-content: center;
    padding: 2em;
    &__btn{
        padding-left: 3em ;
        padding-right: 3em ;
    }
}


.operation{
    margin: 1em;

    &__item{
        margin: 1em;
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: whitesmoke;
        padding: 12px 0px;
        @include box-shadow($val: 10px, $color: rgba(92, 92, 92, 0.2));
        &:focus,
        &:hover{
            background-color: #f7f1fd;
            .fas-icon{
                color: $primary_color;
            }
        }
        

        .num-step{
            display: flex;
            background-color: $primary_color;
            color: white;
            padding: 5px;
            margin: 5px 1em ;
            border-radius: 50px;
            width: 15px;
            height: 15px;
            align-items: center;
            justify-content: center;
            
        }
        
    }
    .item__step{
        display: flex;
        align-items: center;
        margin-left: -27px;
        font-size: 1em;
    
    }
}

.step{
    margin: 0 1em;
}

.resto{
    margin: 1em;
}

.restaurant{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    filter: drop-shadow(0 0 0.90rem  rgb(153, 153, 153) );
    height: 250px;
    margin-bottom: 2em!important;
    text-decoration: none;
    color: black;
    &__new{
        position: absolute;
        background-color: rgb(120, 221, 183);
        right: 10px;
        top: 10px;
        padding: 5px 13px;
        font-size: 15px;
        color:rgb(43, 129, 72)
    }
    &__images{
        display: flex;
        width: 100%;
        height: 70%;
        object-fit: cover;

    }
    &__name{
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        background-color: white;
        padding-left: 1em;
    
    }
    &__heart{
        position: absolute;
        right: 3em;
        bottom: 3em;
        text-decoration: none;
        color: $primary_color;
      
        
    }
}

.restaurant__heart{
 
    &--2{
        display: flex!important;
        position: absolute;
        color: white;
        z-index: 1;
        
        
    }
    &--1{
        display: flex!important;
        position: absolute;
        z-index: 2;
    }
    &:focus,
    &:hover{
        .restaurant__heart--2{
            display: flex!important;
            color: $primary_color;
            transition: all linear 0.2s;
        }
        
    }
}

// .azer:before {
//     content: "\f004";
// }

.footer{
    background-color: $footer-color;
    &__logo{
        width: 110px;
        padding-bottom: 1em;
    }  
    &__content{
        color: white;
        margin: 0.3em 0em  ;
    }
}

.fas{
    padding-right: 10px;
}


/***********************/
/*     Partie Menu     */
/***********************/



.menu{
    display: flex;
    flex-direction: column;
    z-index: 200;
    background-color:#f8f8f8;
    margin-top: -3.2em;
    border-top-left-radius: 40px ;
    border-top-right-radius: 40px ;
    padding: 1em;
    p{
        margin: 0;
    }
    h3{
        margin-bottom: 5px;
    }
    &__resto{
        font-size: 18px;
    }
        
    &__title{
        border-bottom: 3px solid $tertiary_color;
        width: 50px;
        animation: animation-menu-item $anim-dur-item both ;
        animation-delay: 200ms;
    }
    &__item{
        display: flex;
        background-color: rgb(247, 247, 247);
        margin-top: 10px;
        border-radius: 15px;
        @include box-shadow($color: #d4d4d4cb);
        flex-direction: row;
        justify-content: space-between;
        animation: animation-menu-item $anim-dur-item both ;
        
        @for $x from 1 through $num-item {
            &--#{$x} {
                animation-delay: $loader-anim-delay+300ms+($anim-delay-item * $x);
             }
        }
    }

   
  
    
}


.item{
    overflow: hidden;
    width: 100%;
    position: relative;
    &__desc{
        
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 20px;
    }
    &__name{
        font-size: 18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px;
    }
    &__text{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
    }
    &__show{
        padding: 10px;
        width: 95%;
        
        &:hover {
            //width: 80%;
            animation: width-item-show;
            transition: 330ms ease-in-out;
            animation-duration: 2000ms;
        
        }
    
        &:hover +.item__valid{
            animation: check-valid-move;
            transition: 330ms ease-in-out;
            animation-duration: 2000ms;
            >.item__valid--anim{
                transform: rotate(360deg);
            }
        }

        
    }
    &__valid{
        display: flex;
        width: 50px;
        background-color: $tertiary_color;
        align-items: center;
        justify-content: center;
        color: white;
        position: absolute;
        height: 100%;
        right: -50px;
        &--anim{
            transition-duration: 0.8s;
            transition-property: transform;
        }
        
       
    }
    
}



.load {
    width: $size*10;
    height: $size*7.5;
    display: flex;
    justify-content: space-evenly;
    &__bar {
        background-color: $tertiary_color;
        height: 100%;
        width: $size;
        animation: loader-bars $anim-dur both 3 ease-in-out;
        animation-delay: 200ms;
        transform: perspective(200px);
        
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
}


.container-loader{
    position: fixed;
    background-color: white;
    z-index: 200;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: display-loader 2s  ;
    animation-delay: $loader-anim-delay;
    animation-fill-mode: forwards;
    transform-origin: top;
    
}

.fas{
    padding-left: 10px;
}

  
//   @keyframes pulse {
//     0% { transform: scale(1); }
//     50% { transform: scale(1.3); }
//     100% { transform: scale(1); }
//   }