@charset "UTF-8";
/**
 * Animation pour l'apparition des menus
 *
 */
@keyframes animation-menu-item {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
/**
 * Réduit la div des menu pour laisser
 * apparaitre l'animation de l'ajout du plat au panier
 */
@keyframes width-item-show {
  0% {
    width: 95%;
  }
  30% {
    width: 80%;
  }
  70% {
    width: 80%;
  }
  100% {
    width: 95%;
  }
}
/**
 * Animation qui déplace la div d'ajout au panier
 * 
 */
@keyframes check-valid-move {
  0% {
    right: -50px;
  }
  30% {
    right: 0px;
  }
  70% {
    right: 0px;
  }
  100% {
    right: -50px;
  }
}
/**
 * Animation du loader
 *
 */
@keyframes loader-bars {
  0% {
    transform: scaleY(0.12);
    background-color: #99E2D0;
  }
  45% {
    background-color: #ff79da;
  }
  50% {
    transform: scaleY(0.9);
  }
  65% {
    background-color: #9356dc;
  }
  90% {
    background-color: #99E2D0;
  }
  100% {
    transform: scaleY(0.12);
  }
}
/**
 * Fait disparaitre la div du loader
 *
 */
@keyframes display-loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    transform: scaleY(0);
  }
}
html {
  font-family: "Roboto", sans-serif;
}
html header {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
html body {
  margin: 0;
  padding: 0;
}
html footer {
  display: flex;
  flex-direction: column;
  padding: 2em;
}
html footer a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Shrikhand", cursive !important;
}

main {
  flex: 1;
}

.header__img {
  flex: 1;
  justify-content: center;
  display: flex;
  padding: 11px;
  box-shadow: 0px 1px 30px 1px rgba(0, 0, 0, 0.2);
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: white;
}
.header__img .logo-app {
  width: 10em;
}
.header__location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9e9e9;
}
.header__show-resto {
  display: flex;
  flex-direction: column;
}
.header__input {
  border: none;
  height: 40px;
  width: 11em;
  background-color: #e9e9e9;
  font-size: 15px;
}
.header__img-resto {
  z-index: -5;
  padding-top: 50px;
}
.header__icon {
  position: absolute;
  left: 15px;
  top: 17px;
  color: black;
}

.no-fixe {
  position: relative !important;
  overflow-x: hidden;
}

.home {
  background-color: #f3f3f3;
}
.home__title {
  margin-left: 4em;
  margin-right: 4em;
  text-align: center;
  margin-top: 1.5em;
}
.home__para {
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}
.home__resto {
  margin: 1em;
  margin-bottom: 4em;
  text-align: center;
}

.button-resto {
  padding: 1em;
  background-color: lightgray;
}

.btn {
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  padding: 1em;
  border-radius: 80em;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border: none;
}
.btn:active, .btn:hover {
  background: linear-gradient(#fface8, #ae80e5);
}

.order {
  display: flex;
  justify-content: center;
  padding: 2em;
}
.order__btn {
  padding-left: 3em;
  padding-right: 3em;
}

.operation {
  margin: 1em;
}
.operation__item {
  margin: 1em;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 12px 0px;
  box-shadow: 0px 1px 10px 1px rgba(92, 92, 92, 0.2);
}
.operation__item:focus, .operation__item:hover {
  background-color: #f7f1fd;
}
.operation__item:focus .fas-icon, .operation__item:hover .fas-icon {
  color: #9356dc;
}
.operation__item .num-step {
  display: flex;
  background-color: #9356dc;
  color: white;
  padding: 5px;
  margin: 5px 1em;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  align-items: center;
  justify-content: center;
}
.operation .item__step {
  display: flex;
  align-items: center;
  margin-left: -27px;
  font-size: 1em;
}

.step {
  margin: 0 1em;
}

.resto {
  margin: 1em;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
  filter: drop-shadow(0 0 0.9rem #999999);
  height: 250px;
  margin-bottom: 2em !important;
  text-decoration: none;
  color: black;
}
.restaurant__new {
  position: absolute;
  background-color: #78ddb7;
  right: 10px;
  top: 10px;
  padding: 5px 13px;
  font-size: 15px;
  color: #2b8148;
}
.restaurant__images {
  display: flex;
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.restaurant__name {
  display: flex;
  justify-content: center;
  height: 30%;
  flex-direction: column;
  background-color: white;
  padding-left: 1em;
}
.restaurant__heart {
  position: absolute;
  right: 3em;
  bottom: 3em;
  text-decoration: none;
  color: #9356dc;
}

.restaurant__heart--2 {
  display: flex !important;
  position: absolute;
  color: white;
  z-index: 1;
}
.restaurant__heart--1 {
  display: flex !important;
  position: absolute;
  z-index: 2;
}
.restaurant__heart:focus .restaurant__heart--2, .restaurant__heart:hover .restaurant__heart--2 {
  display: flex !important;
  color: #9356dc;
  transition: all linear 0.2s;
}

.footer {
  background-color: #3f3f3f;
}
.footer__logo {
  width: 110px;
  padding-bottom: 1em;
}
.footer__content {
  color: white;
  margin: 0.3em 0em;
}

.fas {
  padding-right: 10px;
}

/***********************/
/*     Partie Menu     */
/***********************/
.menu {
  display: flex;
  flex-direction: column;
  z-index: 200;
  background-color: #f8f8f8;
  margin-top: -3.2em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 1em;
}
.menu p {
  margin: 0;
}
.menu h3 {
  margin-bottom: 5px;
}
.menu__resto {
  font-size: 18px;
}
.menu__title {
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  animation: animation-menu-item 1500ms both;
  animation-delay: 200ms;
}
.menu__item {
  display: flex;
  background-color: #f7f7f7;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0px 1px 30px 1px #d4d4d4cb;
  flex-direction: row;
  justify-content: space-between;
  animation: animation-menu-item 1500ms both;
}
.menu__item--1 {
  animation-delay: 450ms;
}
.menu__item--2 {
  animation-delay: 600ms;
}
.menu__item--3 {
  animation-delay: 750ms;
}
.menu__item--4 {
  animation-delay: 900ms;
}
.menu__item--5 {
  animation-delay: 1050ms;
}
.menu__item--6 {
  animation-delay: 1200ms;
}
.menu__item--7 {
  animation-delay: 1350ms;
}
.menu__item--8 {
  animation-delay: 1500ms;
}
.menu__item--9 {
  animation-delay: 1650ms;
}
.menu__item--10 {
  animation-delay: 1800ms;
}

.item {
  overflow: hidden;
  width: 100%;
  position: relative;
  cursor: pointer;
}
.item__desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
}
.item__name {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 30px;
}
.item__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}
.item:hover > .item__valid {
  display: flex;
  transition: 400ms ease-out;
  animation-duration: 2000ms;
  width: 50px;
}
.item:hover > .item__valid > .item__valid--anim {
  transition: 500ms ease-out;
  transform: rotate(360deg);
}
.item:hover > .item__show {
  transition: 330ms ease-out;
  width: 290px;
}
.item__show {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 340px;
}
.item__valid {
  width: 0px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  color: white;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
}
.load__bar {
  background-color: #99E2D0;
  height: 100%;
  width: 3vh;
  animation: loader-bars 2000ms both 2 ease-in-out;
  animation-delay: 200ms;
  transform: perspective(200px);
}
.load__bar--1 {
  animation-delay: 125ms;
}
.load__bar--2 {
  animation-delay: 250ms;
}
.load__bar--3 {
  animation-delay: 375ms;
}
.load__bar--4 {
  animation-delay: 500ms;
}
.load__bar--5 {
  animation-delay: 625ms;
}
.load__bar--6 {
  animation-delay: 750ms;
}
.load__bar--7 {
  animation-delay: 875ms;
}
.load__bar--8 {
  animation-delay: 1000ms;
}

.container-loader {
  position: fixed;
  background-color: white;
  z-index: 200;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: display-loader 2s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  transform-origin: top;
}

.fas-cus {
  padding-left: 10px;
}

/*# sourceMappingURL=index_compiler.css.map */
